#origins {
	position: absolute;
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
	top: 5px;
	left: 5px;
	width: 1280px;
	height: 720px;
}


@font-face {
    font-family: 'MichromaRegular';
    src: url('Fonts/michroma-webfont.eot');
    src: url('Fonts/michroma-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/michroma-webfont.woff') format('woff'),
         url('Fonts/michroma-webfont.ttf') format('truetype'),
         url('Fonts/michroma-webfont.svg#MichromaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

div {
	position: inherit;
	font-family: 'MichromaRegular';
}

.dialogue {
	border-style: solid;
	border-width: 5px;
	background-color: #FFFFFF;
}

/*this rule gets filled in by the javascript*/
.speech {
	
}

.spriteHover {
	background: #0000FF;
}

.clickSprite {
	cursor: pointer;
}

#tester {
	top: 1280px;
}
